[submodule "FrameWorks/WpfHelper"]
	path = FrameWorks/WpfHelper
	url = https://github.com/bduj1/WpfHelper
[submodule "FrameWorks/wpfui"]
	path = FrameWorks/wpfui
	url = https://github.com/IvanDmitriev1/wpfui
